img{
    flex:0 0 auto;
    vertical-align: bottom;
    max-width: 100%;
    max-height: 100%;
}

.circular_image {
    border-radius: 50%;
    clip-path: circle();
    border: 5px;
  }

.stretch {
    background: url("assets/sunset.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fa-circle {
    color: black;
  }

 .left-links{
    flex:1;
 }

 .wrapper{
    background-color: rgb(0, 0, 0, .5);
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    flex: auto;
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    display: flex;
 }

 .main{
    background-color: rgb(0, 0, 0, .5);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    min-width: 100%;
    display:inline-block;
    justify-content: space-around;
    display: flex;
    /* justify-content: center; */
 }

 .textbody{
    /* background-color: rgb(0, 0, 0, .5); */
    float: left;
    height: 100%;
 }

 .headshot{
    /* background-color: rgb(0, 0, 0, .5); */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    object-fit: contain;
    /* float: right; */
 }





.container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}



.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}